streamlit
matplotlib
pydicom
tensorflow-cpu==2.18.0
scipy
scikit-image
pandas
xlrd==2.0.1
openpyxl==3.1.5
imutils==0.5.4
joblib
scikit-learn==1.0.2
imutils
seaborn
xgboost==1.6.2  
numpy==1.26.4
ultralytics==8.3.193
tqdm
huggingface-hub>=0.16.4
opencv-python-headless
psutil
streamlit-autorefresh
